In [2]:
# Exercise 1: Create a Jupyter Notebook
# Create a new Jupyter notebook called DataScienceEcosystem.ipynb

In [3]:
# Exercise 2 :  Create markdown cell with title of the notebook

 # Data Science Tools and Ecosystem

In [ ]:
# Exercise 3 - Create a markdown cell for an introduction

# Objectives:
unordered list:
* Create a Jupyter Notebook
* Insérer du code et des cellules Markdown
* evaluating arithmetic expressions in Python

List popular languages for Data Science:

* python

* R

* scala

* julia

* javascript

* c++

* Matlab

In this notebook, Data Science Tools and Ecosystem are summarized

In [5]:
# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

###### 1. python

###### 2. R

###### 3. scala

###### 4.julia

###### 5.javascript

###### 6. c++

###### 7.Matlab

In [4]:
# Exercise 5 - Create a Markdown Cell to List Data Science Libraries

In [ ]:
Some of the commonly used libraries used by Data Scientists include:

###### 1.pandas

###### 2.numpy

###### 3.seaborn

###### 4.dplyr

###### 5.scipy

###### 5.caret

###### 6.matplotlib.pyplot

###### 7.ggplot

In [7]:
# Exercise 6 - Create a Markdown Cell with an Array of Data Science Tools

In [ ]:
ordered list

|           Data Science Tools                   |
|------------------------------------------------|                           
|  1- visual studio code                            |
|  2- Apache spark                                  |
|  3- github                                        |
| 4-JupyterLab                                      |
| 5-JupyterLite                                     |
| 6- Googlecolab                                    |

In [8]:
# Exercise 7 - Creating a Markdown Cell with Arithmetic Expression Examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
1+1

2

In [13]:
2-1

1

In [10]:
(2+2)*3

12

In [11]:
3**2

9

In [16]:
3*2*2

12

In [17]:
# Exercise 8 - Creating a Code Cell to Multiply and Add Numbers

In [18]:
# il s’agit d’une expression arithmétique simple pour multiplier puis ajouter des entiers

(3*4)+5

17

In [31]:
# Exercise 9 - Create a Code Cell to Convert Minutes to Hours

In [ ]:
# This will convert 200 minutes into hours by diving 60.

In [30]:
d=int(input("Duration in minutes?"))
h=d//60
m=d%60
s=m*60
print(d,"min=", h, "hours", m, "minutes", s,"Seconds")

Duration in minutes? 200

200 min= 3 hours 20 minutes 1200 Seconds

## Author
RODRIGUE MAHI NDOUNG