In [1]:
courses=['farine de blé', 'pates', 'lait', 'légumes']
courses

['farine de blé', 'pates', 'lait', 'légumes']

In [2]:
type(courses)

list

In [3]:
courses[0]

'farine de blé'

In [4]:
courses[3]

'légumes'

In [5]:
position_lait=courses.index('lait')
position_lait

2

In [6]:
courses.pop(position_lait)
courses

['farine de blé', 'pates', 'légumes']

n=5
age_list=[]
for i in range(5):
    print("Quel est votre age ?")
    age= int(input())

In [7]:
n=5
age_list=[]
for i in range(5):
    print("Quel est votre age?")
    age= int(input())
    age_list.append(age)
age_list

Quel est votre age?
14
Quel est votre age?
34
Quel est votre age?
45
Quel est votre age?
6
Quel est votre age?
56

[14, 34, 45, 6, 56]

In [8]:
import statistics as st


print("Age_moyen:", round(st.mean(age_list)))

print("age_médian:", st.median(age_list))

print("Age_maximum:",max(age_list))

print("Age_manimum:",min(age_list))

Age_moyen: 31
age_médian: 34
Age_maximum: 56
Age_manimum: 6

In [9]:
courses.extend(['cahiers', 'savon','lampes'])
courses

['farine de blé', 'pates', 'légumes', 'cahiers', 'savon', 'lampes']

In [10]:
courses.sort()
courses

['cahiers', 'farine de blé', 'lampes', 'légumes', 'pates', 'savon']

In [11]:
courses
print(courses)

['cahiers', 'farine de blé', 'lampes', 'légumes', 'pates', 'savon']

In [12]:
acteur= {'nom':'jackie chan','age':85, 'pays':'H.K'}
acteur

{'nom': 'jackie chan', 'age': 85, 'pays': 'H.K'}

In [13]:
acteur['films']=['le maitre chinois', 'police story','karaté kids']
acteur

{'nom': 'jackie chan',
 'age': 85,
 'pays': 'H.K',
 'films': ['le maitre chinois', 'police story', 'karaté kids']}

In [14]:
acteurs=[
                    {'acteur':'dwayne johnson', 'revenu':89.4,'films':['santa','oceanne','folere','kossam']},
                    {'acteur':'christ hemswort', 'revenu':76.4 ,'films':['vacation','sos danger','folere','issam']},
                    {'acteur':' ROBERT jR', 'revenu':66 ,'films':['iroman','le justicier','folere','kossam']},
                    {'acteur':'kUMAR', 'revenu':65,'films':['KESARI','oSARIeanne','folere','kossam']},                                            
                    {'acteur':' jackie chann', 'revenu':58 ,'films':[ 'le maitre chinois', 'police story','karaté kids']},                                                    
       ]

acteurs

[{'acteur': 'dwayne johnson',
  'revenu': 89.4,
  'films': ['santa', 'oceanne', 'folere', 'kossam']},
 {'acteur': 'christ hemswort',
  'revenu': 76.4,
  'films': ['vacation', 'sos danger', 'folere', 'issam']},
 {'acteur': ' ROBERT jR',
  'revenu': 66,
  'films': ['iroman', 'le justicier', 'folere', 'kossam']},
 {'acteur': 'kUMAR',
  'revenu': 65,
  'films': ['KESARI', 'oSARIeanne', 'folere', 'kossam']},
 {'acteur': ' jackie chann',
  'revenu': 58,
  'films': ['le maitre chinois', 'police story', 'karaté kids']}]

In [15]:
revenus=[]
for acteur in acteurs:
     revenus.append(acteur["revenu"])
    
revenus

[89.4, 76.4, 66, 65, 58]

In [16]:
import statistics as st
revenu_moyen = st.mean(revenus)
revenu_moyen

70.96000000000001

In [17]:
for acteur in acteurs:
    if acteur["revenu"] > revenu_moyen:
         print(acteur)

{'acteur': 'dwayne johnson', 'revenu': 89.4, 'films': ['santa', 'oceanne', 'folere', 'kossam']}
{'acteur': 'christ hemswort', 'revenu': 76.4, 'films': ['vacation', 'sos danger', 'folere', 'issam']}

In [18]:
notes={  "Ryan": (18,16), "Elisa": (20,12),"Martine": (20,20),"Robert": (14,15) } 
notes

{'Ryan': (18, 16), 'Elisa': (20, 12), 'Martine': (20, 20), 'Robert': (14, 15)}

In [19]:
import pandas as pd

df= pd.DataFrame(notes)
df

   Ryan  Elisa  Martine  Robert
0    18     20       20      14
1    16     12       20      15

In [20]:
df=df.T
df

          0   1
Ryan     18  16
Elisa    20  12
Martine  20  20
Robert   14  15

In [21]:
df.columns= ["Maths","Francais"]
df

         Maths  Francais
Ryan        18        16
Elisa       20        12
Martine     20        20
Robert      14        15

In [22]:
df.index

Index(['Ryan', 'Elisa', 'Martine', 'Robert'], dtype='object')

In [23]:
peoples= ['Ryan', 'Maryse', 'Antoine', 'Elyse', 'Stecy']
peoples

['Ryan', 'Maryse', 'Antoine', 'Elyse', 'Stecy']

In [24]:
len(peoples)

5

In [25]:
ages=[29, 30, 34, 36 , 19]
ages

[29, 30, 34, 36, 19]

In [26]:
len(ages)

5

In [27]:
for i in range(len(ages)):
    print( peoples[i]  , ages[i] )

Ryan 29
Maryse 30
Antoine 34
Elyse 36
Stecy 19

In [ ]:
F20 remise fixe égal 20$
p30  rémise égal à 30% du tolal du panier
P50 rémise égal à 30% du tolal du panierr
F15 rémise fixe égal à 15$

In [33]:
clients = [
    
           {'id':1, 'total_panier': 200, 'coupon_code':'F20'},
           {'id':2 ,'total_panier': 150, 'coupon_code': 'P30'},
           {'id':3 ,'total_panier': 100, 'coupon_code': 'P50'},   
           {'id':4 ,'total_panier':110, 'coupon_code': 'F15' },
           
           ]
clients

[{'id': 1, 'total_panier': 200, 'coupon_code': 'F20'},
 {'id': 2, 'total_panier': 150, 'coupon_code': 'P30'},
 {'id': 3, 'total_panier': 100, 'coupon_code': 'P50'},
 {'id': 4, 'total_panier': 110, 'coupon_code': 'F15'}]

In [35]:
for client in clients:
    if client['coupon_code'] == 'F20':
        client['remise'] = 20
    elif client['coupon_code'] == 'P30':
        client['remise']= 0.3 * client['total_panier']   
    elif client['coupon_code'] == 'P50':
        client['remise'] = 0.3 *client['total_panier'] 
        
    else:
        client['remise']= 15

In [36]:
for client in clients:
    print(client['id'], client['total_panier'], client['coupon_code'], client['remise'] )

1 200 F20 20
2 150 P30 45.0
3 100 P50 30.0
4 110 F15 15